{% extends "myhome/layout.html" %}

{% block content %}
<div class="blog-div">
    {% if not event %}
    <div class="blog-menu"><a href="{% url 'blog' category='all' %}">All</a> {% for c in categories %} | <a href="{% url 'blog_cat' c.id %}"> {{c.name}} </a>{% endfor %}</div>
    {% endif %}
    {% for p in posts %}
    <div class="blog-header">
        <ion-icon name="create-outline" class="icons"></ion-icon>
        <h1>{{ p.title }}</h1>
        <div class="blog-header-details">
            <p>Posted by {{ p.user }}. </p> <p><ion-icon name="chatbubbles-outline"></ion-icon></p><p> {{ p.post_comments.count }} comments </p> <p><ion-icon name="heart-outline"></ion-icon></p><p id="post_likes"> {{p.likes.count}} likes</p> 
        </div>
    </div>
    
    <div class="like-btn-div">
        {% if user.is_authenticated %}
        <button data-postid="{{p.id}}" class="like-btn" id="like_post_btn"> {% if user in p.likes.all %}<ion-icon name="heart-dislike-outline"></ion-icon>{% else %} <ion-icon name="heart-outline"></ion-icon> {% endif %}</button>
        {% else %}
        <p>Login to like this post.</p>
        {% endif %}
    </div>
    {% if event %}
    <div class="blog-text">
        <h2>Sobre o evento...</h2>
        <p> {{ p.text }}</p>
    </div>
    {% else %}
    <div class="blog-text">
        <h2>Sobre o projeto...</h2>
        <p> {{ p.text }}</p>
    </div>
    {% endif %}
    <div class="blog-img">
        <img src="{{p.img_path}}">
    </div>
    
    <div class="blog-tags">
        <p><b>Tags </b>{{p.tags}}</p>
    </div>
    {% if not event %}
    <div class="blog-github-link">
        <ion-icon class ="github-icon" name="logo-github"></ion-icon>
        <p>{{ p.github_link }}</p>
    </div>
    {% endif %}
    {% if not event %}
    <div class="blog-video">
        <iframe width="560" height="315" src="{{p.video_path}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="center">
        <div class="div-pagination">
            {% if posts.has_previous %}
                <a class="page-link" href="?page=1">First</a>
                <a class="page-link" href="?page={{ posts.previous_page_number }}"><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
            {% endif %}
            {% if posts.has_next or posts.has_previous %}
            <a class="page-link" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</a>
            {% endif %}
            {% if posts.has_next %}
                <a class="page-link" href="?page={{ posts.next_page_number }}"><ion-icon name="arrow-forward-circle-outline"></ion-icon></a>
                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    </div>
 </div>
    {% if user.is_authenticated %}
    <form class="comment-form" action="{% url 'comment' p.id %}" method="POST">
        {% csrf_token %}
        <textarea rows="7" id="comment" name="comment" placeholder="Type your comment here" class=""></textarea>
        <button type="submit">Submit</button>
    </form>"
    {% else %}
    <div class="message"><h4>Login to comment!</h4></div>
    {% endif %}
    <div class="blog-text">
    {% for comment in p.get_comments %}
            <div class="comment">
                <div class="posted-by">
                    <h3 class="h3-posted-by"> Posted by {{ comment.user.username }} in </h3><p> &nbsp; {{ comment.date_time }}</p>
                </div>
                <p class="comment-text">{{ comment.text }}</p>
<!--                 <p>Likes: {{ comment.likes.count }}</p>
 -->            </div>
        {% empty %}
            <p>Be the first to comment.</p>
    {% endfor %}
    </div>
    <!-- 
    <div class="comments">
        <div class="comment">
            <h3>Fulado de tal</h3><p>in 03 Mar 2023</p>
        </div>
        <div class="comment">
            <h3>Fulado de tal</h3><p>in 03 Mar 2023</p>
            <p>This is a comment!</p>
        </div>
        <div class="comment">
            <h3>Fulado de tal</h3><p>in 03 Mar 2023</p>
            <p>This is a comment!</p>
        </div>
    </div> -->
    {% endfor %}
</div>
{% endblock %}