{% extends "myhome/layout.html "%}

{% block content %}

<div class="log_area">
    <div class="blog-header">
        <ion-icon name="clipboard-outline" class="icons"></ion-icon>
        <h1>Register</h1>
        <div class="msg"><p id="field-msg">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
            {% endfor %}
            {% endif %}
            {% if message %}
            {{message}}
            {% endif %}
        </p></div>
        <!-- {% if form.errors %}
            <div class="msg"><p>
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            </p></div>
        {% endif %}
        {% if message %}
            <div class="msg"><p>{{message}}</p></div>
        {% endif %} -->
    </div>    
    <form class ="log-form" action="{% url 'register' %}" method="post" class="log_form">
        <div class="form-container">
        {% csrf_token %}
        {{form}}
        </div>
        <div class="submit">  
            <input id="register" class="log" type="submit" value="Register">
        </div> 
       <!--  <div class="field-msgs">
            <p id="field-msg"></p>
        </div> -->
    </form>
  <!--   <form class ="log-form" action="{% url 'register' %}" method="post" class="log_form">
        {% csrf_token %}
        <div class="form-container">
            <label for="username">Username</label>
            <input class="log_info" autofocus type="text" name="username" placeholder="Username">
            <label for="username">Email</label>
            <input class="log_info" type="email" name="email" placeholder="Email Address">
            <label for="username">Password</label>
            <input class="log_info" type="password" name="password" placeholder="Password">
            <label for="username">Confirm </label>
            <input class="log_info" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
    
        <div class="submit">  
            <input class="log" type="submit" value="Register">
        </div> 
    </form>
    <div class="form_footer">
    </div> -->
</div>
{% endblock %}